@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Major+Mono+Display&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html,
body,
*{
  cursor: none;
}
*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::selection{
  color: #302d3f;
  background-color:#121212;

}
::-webkit-scrollbar{
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(110,110,110,1) 100%);
  border-radius: 11px;
  background-clip: content-box;
  height: 10px;
}

::-webkit-scrollbar * {
  background: transparent;
  height: 2px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 3px;
}
.list{
  list-style: none;
  padding: 10px;
  height: 100%;
  border-radius: 20px;
  margin-top: 12px;
}
.bg{
  min-width: 120px;
}
.List-container{
  margin: 12px;
  min-width: 120px;
  border-radius:25px ;

}
.Title{
  color:white;
  font-size:30px ;
}

.cursor{
  z-index: 10000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0,0,0);
  position: fixed;
  backdrop-filter: blur(1.2px) saturate(200%) brightness(120%);
  opacity: 0.8;
  background-blend-mode:hard-light;
}
@media screen and (max-width : 80em) { 
  .list{
    padding: 12px;
  }
}

@media screen and (max-width : 62em) { 
  .list{
    padding: 15px;
  }
}

@media screen and (max-width : 48em) { 
  .list{
    padding: 10px;
  }
}

@media screen and (max-width : 30em) { 
  .list{
    padding: 4px;
  }
}