@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@1,300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Mono', monospace;
  
}
*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::selection{
}
